fastapi
uvicorn[standard]

langchain
langgraph

langchain-openai
langchain-aws
langchain-community

boto3

pydantic
pydantic-settings

sqlalchemy
psycopg2-binary
asyncpg
alembic

python-dotenv

httpx
aiofiles

pgvector

sentence-transformers


tiktoken

python-multipart

redis

loguru

discord.py
SpeechRecognition
soundfile
numpy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
